

@media(max-width:767px){

/*--- HOME --------------------------------------------------------------*/
.front{
    .banner{ padding: 40px 20px;}

    /* mais noticias */
    .view-mais-noticias{
        text-align: center;
        margin-bottom: 25px;

        .views-row{margin-bottom: 25px;}

        .views-field-field-imagem{
            margin-bottom: 10px;
            overflow: hidden;
        }
        .views-field-field-assunto{
            margin: -25px 0 10px 0;

             a{
                display: inline-block;
                color: #fff;
                background: $vermelho;
                padding: 3px 10px;
            }
        }
        .views-field-title a{
            font-size: 18px;
            line-height: 26px;
            font-weight: 900;
            color: $preto;
            font-family: 'Lato', sans-serif;
        }
        .views-field-field-chamada{ display: none;}
    }
    .view-mais-noticias-2{display: none;}

    /* videos */
    section.videos{
        background: #000 url(../img/bg-header.png) top center no-repeat;
        margin: 50px 0 0 0;
        padding: 70px 0 50px 0;
        width: 100%;
        text-align: center;

        .view-video-destaque-home{
            .views-field-title{
                margin: 0 0 45px 0;
                margin-top: 15px;
                a{
                    color: #fff;
                    font-size: 18px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 900;
                }
            }
        }

        .views-row-2,
        .views-row-3{display: none;}
    }

    .insta{display: none;}
}


/*--- TODAS AS NOTICIAS --------------------------------------------------------------------------------*/

.page-noticias{

    .view-noticias-todas{
        text-align: center;



        .views-row{margin-bottom: 25px;}

        .views-field-field-imagem{
            margin-bottom: 10px;
            overflow: hidden;
        }
        .views-field-field-assunto{
            margin: -25px 0 10px 0;

             a{
                display: inline-block;
                color: #fff;
                background: $vermelho;
                padding: 3px 10px;
            }
        }
        .views-field-title a{
            font-size: 18px;
            line-height: 26px;
            color: $preto;
            font-weight: 900;
            font-family: 'Lato', sans-serif;
        }


    }
}


/*--- PAGINA DE UMA NOTICIA ----------------------------------------------------------------------------*/

.node-type-story{

    header{margin-bottom: 50px;}

    .panel-col-first{
        width: 100%;
    }
    .panel-col-last{
        display: none;
    }

    #principal{
        padding: 0 5%;
        overflow-x: hidden;

        h1{font-size: 42px;}

        .link-user{display: none;}

        article{
            padding-top: 50px;
            header{display: none;}
        }

        img{
            max-width: 100%;
            height: auto !important;
        }

        .views-field-field-assunto a{
            display: inline-block;
            color: #fff;
            background: $vermelho;
            padding: 5px 15px;
            text-transform: uppercase;
        }


        .views-field-field-chamada{
            font-size: 20px;
            color: #999;
            margin: 20px 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            letter-spacing: -1px;
        }

        .facebook{overflow: hidden;}

        blockquote{padding: 5%;}

    }

     #comentarios{
            .banner{margin-bottom: 25px;}
        }

        .mais-noticias{display: none;}

    #placement-bottom{display: none !important;}

    .insta{display: none;}
}

/*--- PAGINA DE TODOS OS VIDEOS -------------------------------------------------------------------------*/

.page-videos{

    .view-videos-todos{
        text-align: center;

        .views-row{margin-bottom: 25px;}

        .views-field-field-imagem{
            margin-bottom: 10px;
            overflow: hidden;
        }
        .views-field-field-assunto{
            margin: -25px 0 10px 0;

             a{
                display: inline-block;
                color: #fff;
                background: $vermelho;
                padding: 3px 10px;
            }
        }
        .views-field-title a{
            font-size: 18px;
            line-height: 26px;
            color: $preto;
            font-weight: 900;
            font-family: 'Lato', sans-serif;
        }
    }
}

/*--- PAGINA DE UM VIDEO --------------------------------------------------------------------------------*/

.node-type-video{

    .view-topo-video{margin-bottom: 40px;}

    .view-mais-videos{
        .views-row{
            margin-bottom: 20px;

            a{color: $preto;}
        }
    }

}


/*--- RODAPE -------------------------------------------------------------------------------------*/

footer{
    background: $preto;
    float: left;
    width: 100%;
    margin-top: 40px;
    padding: 0 0 50px 0;
    color: #fff;
    text-align: center;

    p{color: #fff;}

    a{
        color: #fff;

        &:hover{
            color: $vermelho;
            text-decoration: none;
        }
    }

    ul{
        list-style-type: none;

        li{margin-bottom: 7px;}
    }

    .newsletter{
        text-align: center;
        background: #000 url(../img/bg-header.png) top center no-repeat;
        padding: 50px 0;
        margin-bottom: 50px;


        label,
        .link a{display: none;}


        h2{
            font-weight: 400;
            margin-bottom: 25px;
            font-size: 24px;
        }
    }

    .cogumelo{min-height: 240px;}

    .conteudo-rodape{
        .container{ background: transparent url(../img/cogumelo_psicodelia.png) center top no-repeat;}
        ul,
        .fb-page{display: none;}
    }

    .termos{
        border-top: 1px solid #666;
        padding-top: 25px;

        p{
           font-size: 11px;
            color: #666;
        }
    }
}







}
